env:
  node: true
plugins:
- node
extends:
- inclusive
- plugin:node/recommended
rules:
  no-process-exit: 0
  node/no-unpublished-require:
    - error
    - allowModules:
      - chai
      - sinon
      - sinon-chai
      - chai-as-promised